{% extends '/layouts/card.html.twig' %}
{% block title %}Home{% endblock %}
{% block cardTitle %}{{ config("organization")|default("UWU Industries") }} {{ config("service")|default("Directory Services") }}{% endblock %}

{% block cardDescription %}
    <p class="card-text">
        You've reached the {{ config("organization")|default("UWU Industries") }}
        {{ config("service")|default("Directory Services") }} homepage. Please select a form from the list below.
    </p>
{% endblock %}

{% block cardContent %}
    <div class="card-body">
        <dl>
            <dt><a href="{{ path("register") }}" class="text-decoration-underline">Account Registration</a></dt>
            <dd>Apply for an account with {{ config("organization")|default("this organization") }}</dd>

            <dt><a href="{{ path("resetForm") }}" class="text-decoration-underline">Password Reset</a></dt>
            <dd>Reset your {{ config("organization")|default("") }} account password</dd>

            <dt><a href="{{ path("requestMoreGroups") }}" class="text-decoration-underline">Group Request</a></dt>
            <dd>Request access to a new service</dd>
        </dl>
    </div>
{% endblock %}