{% extends "/layouts/tabbed.html.twig" %}
{% block sidebar %}
    <twig:sidebar-item icon="bi-person-fill" tab="view_users" name="Users" selected/>
    <twig:sidebar-item icon="bi-person-plus-fill" tab="add_user" name="Add User" parent="view_users"/>
    <twig:sidebar-item icon="bi-person-fill-gear" tab="edit_user" name="Edit User" parent="view_users"/>


    <twig:sidebar-item icon="bi-building-fill" tab="view_groups" name="Groups"/>
    <twig:sidebar-item icon="bi-building-fill-add" tab="add_group" name="Add Group" parent="view_groups"/>
    <twig:sidebar-item icon="bi-building-fill-gear" tab="edit_group" name="Edit Group" parent="view_groups"/>

    <twig:sidebar-item icon="bi-database-fill" tab="view_services" name="View Services"/>
    <twig:sidebar-item icon="bi-database-fill-gear" tab="add_service" name="Add Service" parent="view_services"/>
    <twig:sidebar-item icon="bi-database-fill-add" tab="edit_service" name="Edit Service" parent="view_services"/>

    <twig:sidebar-item icon="bi-gear-fill" tab="config" name="Config"/>
{% endblock %}
{% block panels %}
    <twig:panel id="view_users" heading="User Overview" selected>
        <p>feel free to manage your users here or something, i don't gaf</p>

        <table id="example" class="display table table-striped table-responsive">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </twig:panel>
    <twig:panel id="add_user" heading="Add New User">
        <p>Fill out the form below to add a new user.</p>
        <form class="gap-2">
            <div class="row row-gap-2 mb-2">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input class="form-control" type="text" id="identifier" name="identifier" placeholder="Username"/>
                        <label class="form-label" for="identifier">Username</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input class="form-control" type="text" id="email" name="email" placeholder="Email"/>
                        <label class="form-label" for="email">Email</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input class="form-control" type="text" id="firstName" name="firstName" placeholder="First Name"/>
                        <label class="form-label" for="firstName">First Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Last Name"/>
                        <label class="form-label" for="lastName">Last Name</label>
                    </div>
                </div>
            </div>
            <button
                    type="button"
                    class="btn btn-primary"
                    data-request-method="POST"
                    data-request-path="{{ path("adminAPICreateUser") }}">
                Create
            </button>
        </form>
    </twig:panel>
    <twig:panel heading="Edit User" id="edit_user">
        <div id="edit_user_landing" class="">
            <p>Select a user in the users tab to begin.</p>
        </div>
        <div id="edit_user_skeleton" class="visually-hidden">
            <div class="row row-gap-2 mb-2 p-2 placeholder-glow placeholder-lg fs-1">
                <span class="col-md-6 placeholder"></span>
                <span class="col-md-6 placeholder"></span>
                <span class="col-md-6 placeholder"></span>
                <span class="col-md-6 placeholder"></span>
                <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-1" aria-hidden="true"></a>
            </div>
        </div>
        <div id="edit_user_editor" class="visually-hidden">
            <form class="gap-2">
                <div class="row row-gap-2 mb-2">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input class="form-control" type="text" id="identifier" name="identifier" placeholder="Username"/>
                            <label class="form-label" for="identifier">Username</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input class="form-control" type="text" id="email" name="email" placeholder="Email"/>
                            <label class="form-label" for="email">Email</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input class="form-control" type="text" id="firstName" name="firstName" placeholder="First Name"/>
                            <label class="form-label" for="firstName">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Last Name"/>
                            <label class="form-label" for="lastName">Last Name</label>
                        </div>
                    </div>
                </div>

                <div class="row py-3 pb-4">
                    {% for group in groups %}
                        {% set cn = group.getAttribute("cn")[0] %}
                        {% set dn = group.getDn() %}
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" name="roleDNs[{{ dn }}]" id="edit_user_group_{{ dn }}"/>
                            <label class="form-check-label" for="edit_user_group_{{ dn }}" class="pt-3">{{ cn }}</label>
                        </div>
                    {% endfor %}
                </div>

                <button
                        type="button"
                        class="btn btn-primary"
                        data-request-method="POST"
                        data-request-path="#">
                    Update
                </button>
            </form>
        </div>
    </twig:panel>
    <twig:panel heading="Manage Groups" id="view_groups">
        <p>feel free to manage your groups here or something, i don't gaf</p>

        <table id="example2" class="display table table-striped table-responsive">
            <thead>
            <tr>
                <th>Group Name</th>
                <th>Number of Members</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </twig:panel>
    <twig:panel heading="Add Group" id="add_group">
        <p>Fill out the form below to add a new group.</p>
        <form class="gap-2">
            <div class="row row-gap-2 mb-2">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input class="form-control" type="text" id="name" name="name" placeholder="Group Name"/>
                        <label class="form-label" for="name">Group Name</label>
                    </div>
                </div>
            </div>
            <button
                    type="button"
                    class="btn btn-primary"
                    data-request-method="POST"
                    data-request-path="{{ path("adminAPICreateUser") }}">
                Create
            </button>
        </form>
    </twig:panel>
    <twig:panel heading="Edit Group" id="edit_group">
        <p>Not implemented, check back soon pookie</p>
    </twig:panel>
    <twig:panel heading="Manage Services" id="view_services">
        <p>Not implemented, check back soon pookie</p>
    </twig:panel>
    <twig:panel heading="Add Service" id="add_service">
        <p>Not implemented, check back soon pookie</p>
    </twig:panel>
    <twig:panel heading="Edit Service" id="edit_service">
        <p>Not implemented, check back soon pookie</p>
    </twig:panel>
    <twig:panel heading="Manage Configuration" id="config">
        <p>Not implemented, check back soon pookie</p>
    </twig:panel>
{% endblock %}