{% extends '/components/card.html.twig' %}
{% block title %}Access Request{% endblock %}
{% block cardTitle %}Server Account Registration{% endblock %}

{% block cardDescription %}
    <p class="card-text">
        An access request has been received. You may approve it and grant groups below. It may be ignored if
        access is not to be granted.
    </p>
{% endblock %}

{% block cardContent %}
    <form>
        <div class="card-body border-bottom">
            <h3>Submitter Info</h3>
            <p>The following is a list of info submitted by the applicant. Please verify that all information is correct and proper.</p>
                <div class="row">
                    <div class="col-12">
                        <label for="identifier">Applicant's NDUS Identifier <span
                                    class="bi-question-square-fill px-1"
                                    data-mdb-popover-init
                                    data-mdb-trigger="hover"
                                    data-mdb-content="This is the same as your username for Blackboard, Campus Connection, or other UND/NDUS systems. This is required so we can verify your status as a UND student."></span>
                        </label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="identifier" name="identifier" value="{{ registration.identifier }}" disabled/>
                            <span class="input-group-text">{{ emailSuffix }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="firstName" class="pt-3">First Name</label>
                        <input class="form-control" type="text" id="firstName" name="firstName" value="{{ registration.firstName }}" disabled/>
                    </div>
                    <div class="col-md-6">
                        <label for="lastName" class="pt-3">Last Name</label>
                        <input class="form-control" type="text" id="lastName" name="lastName" value="{{ registration.lastName }}" disabled/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="additionalInfo" class="pt-3">Additional Information <span
                                    class="bi-question-square-fill px-1"
                                    data-mdb-popover-init
                                    data-mdb-trigger="hover"
                                    data-mdb-content="If you need access to something more than traditional baseline permissions and haven't already discussed it with ACM leadership, write down what you need here."></span>
                        </label>
                        <textarea class="form-control" id="additionalInfo" name="additionalInfo" disabled>{{ registration.additionalInfo }}</textarea>
                    </div>
                </div>

        </div>
        <div class="card-body border-bottom">
            <h3>Group Assignments</h3>
            <p>Please choose from the groups below.</p>
            <div class="row">
                {% for group in groups %}
                    {% set cn = group.getAttribute("cn")[0] %}
                    {% set dn = group.getDn() %}
                    <div class="col-md-12">
                        <input class="form-check-input" type="checkbox" name="groupGrants[{{ dn }}]" id="group_{{ dn }}"/>
                        <label class="form-check-label" for="group_{{ dn }}" class="pt-3">{{ cn }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="card-body">
            <button
                    type="button"
                    class="btn btn-primary"
                    data-mdb-ripple-init
                    data-request-method="POST"
                    data-request-path="{{ path("grantSubmit") }}">
                Approve Request
            </button>
        </div>
    </form>

{% endblock %}