<p>
    Options for your instance of uwu_directory may be configured here. Configuration will be written to
    <code>/var/server/custom.scss</code> and <code>/var/server/config.json</code>, so ensure that your Docker
    volumes are properly configured to store these files.
</p>
<form class="gap-2">
    <hr/>
    <div class="row row-gap-2 mb-2">
        <h4>Organizational Constraints</h4>
        <p>
            In certain cases, it may be desirable to restrict registrations to a specific email domain.
            By specifying a suffix formatted like <code>@example.com</code> in the field below, all new
            registrations will be required to be suffixed with this string. The Account Description field may
            be used to set a friendly name for this restriction. For example, a suffix of <code>@gmail.com</code>
            may warrant the description <i>Google Account</i>.
        </p>
        <div class="col-md-6">
            <div class="form-floating">
                <input class="form-control" type="text" id="parentOrgAccountDescription" name="parentOrgAccountDescription" placeholder="Account Description" value="{{ config("parentOrgAccountDescription")|default("") }}"/>
                <label class="form-label" for="parentOrgAccountDescription">Account Description</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input class="form-control" type="text" id="emailSuffix" name="emailSuffix" placeholder="Email Suffix" value="{{ config("emailSuffix")|default("") }}"/>
                <label class="form-label" for="emailSuffix">Email Suffix</label>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row row-gap-2 mb-2">
        <h4>Site Branding</h4>
        <p>
            Across the interface, two values are used for populating branded text fields: the service name
            and the organization name. The service name refers to this webpage, the product users interact with,
            and the organization name refers to you, the organization hosting the service.
        </p>
        <div class="col-md-6">
            <div class="form-floating">
                <input class="form-control" type="text" id="service" name="service" placeholder="Service Name" value="{{ config("service")|default("") }}"/>
                <label class="form-label" for="service">Service Name</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input class="form-control" type="text" id="organization" name="organization" placeholder="Organization Name" value="{{ config("organization")|default("") }}"/>
                <label class="form-label" for="organization">Organization Name</label>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row row-gap-2 mb-2">
        <h4>Site Favicon</h4>
        <p>
            To specify or replace a favicon for your instance, paste in SVG data below.
        </p>
        <div class="col-md-12">
            <div class="form-floating">
                        <textarea
                                class="form-control font-monospace"
                                id="favicon" name="favicon"
                                placeholder="Favicon SVG" style="height: 12em; font-size: 14px;" type="text">{{ config("favicon")|default("") }}</textarea>
                <label class="form-label" for="favicon">Favicon SVG</label>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row row-gap-2 mb-2">
        <h4>Site Styling</h4>
        <p>
            uwu_directory utilizes Bootstrap 5.3 for stylesheets. You may use the below textarea to
            specify custom SCSS variables to be employed by this framework. For more information on available
            variables, refer to the
            <a href="https://getbootstrap.com/docs/5.3/customize/sass/">Bootstrap documentation</a>.
        </p>
        <div class="col-md-12">
            <div class="form-floating">
                        <textarea
                                class="form-control font-monospace"
                                id="customScss" name="customScss"
                                placeholder="Custom SCSS" style="height: 12em; font-size: 14px;" type="text">{{ config("customScss")|default("") }}</textarea>
                <label class="form-label" for="customScss">Custom SCSS</label>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row row-gap-2 mb-2">
        <h4>Email Styling</h4>
        <p>
            Styling may also be applied to email templates. These are written in standard CSS and
            Bootstrap is NOT used.
        </p>
        <div class="col-md-12">
            <div class="form-floating">
                        <textarea
                                class="form-control font-monospace"
                                id="emailStyles" name="emailStyles"
                                placeholder="Custom Email CSS" style="height: 12em; font-size: 14px;" type="text">{{ config("emailStyles")|default("") }}</textarea>
                <label class="form-label" for="emailStyles">Custom Email CSS</label>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row row-gap-2 mb-2">
        <h4>Email Signature</h4>
        <p>
            To specify a custom signature for emails, draft one below. HTML formatting is
            allowed.
        </p>
        <div class="col-md-12">
            <div class="form-floating">
                        <textarea
                                class="form-control font-monospace"
                                id="emailSignature" name="emailSignature"
                                placeholder="Email Signature" style="height: 12em; font-size: 14px;" type="text">{{ config("emailSignature")|default("") }}</textarea>
                <label class="form-label" for="emailSignature">Email Signature</label>
            </div>
        </div>
    </div>
    <button
            type="submit"
            class="btn btn-primary"
            data-request-method="POST"
            data-request-path="{{ path("api.v1.config.create") }}">
        Save
    </button>
</form>