<header class="fixed-top shadow">
    <nav class="navbar navbar-expand bg-body-tertiary" style="max-height: 56px;">
        <div class="container-fluid">
            <a id="root_url" href="{{ url('root') }}">
                <div class="navbar-brand align-items-center d-inline-flex gap-2">
                    <span class="pe-1 d-block" aria-description="Site Logo" id="site_logo" style='background-image: url("{{ config("favicon")|default("") is empty ? asset("img/favicon.svg") : "data:image/svg+xml," ~ config("favicon")|url_encode }}");'></span>
                    {{ config("service")|default("uwu_directory") }}
                </div>
            </a>
            <div class="navbar-nav">
                {% if is_granted("ROLE_SSO_ADMINISTRATORS") %}
                    <a class="nav-link" href="{{ path("administratorIndex") }}">Admin</a>
                {% endif %}
                {% if is_granted("ROLE_USER") %}
                    <a class="nav-link" href="{{ path("logout") }}">Log out</a>
                {% else %}
                    <a class="nav-link" href="{{ path("loginForm") }}">Log in</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>