{% extends '/layouts/card.html.twig' %}
{% block title %}Groups{% endblock %}
{% block cardTitle %}Update Group Permissions{% endblock %}

{% block cardDescription %}
<p class="card-text">
    A user has requested a group membership modification. Please review the request below.
</p>
{% endblock %}

{% block cardContent %}
    <form>
        <div class="card-body border-bottom">
            <div class="row">
                <h3>Submitter Info</h3>
                <div class="col-12">
                    <twig:email_input id="email" name="email" disabled>{{ groupRequest.email }}</twig:email_input>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="requestDetails" class="pt-3">Request Details</label>
                    <textarea class="form-control" id="requestDetails" disabled>{{ groupRequest.requestDetails }}</textarea>
                </div>
            </div>
        </div>
        <div class="card-body border-bottom">
            <h3>Group Assignments</h3>
            <p>Please choose from the groups below. Groups that the user is already in are checked by default but may be removed.</p>
            <div class="row">
                {% for group in groups %}
                    {% set cn = group.getAttribute("cn")[0] %}
                    {% set dn = group.getDn() %}
                    <div class="col-md-12">
                        <input class="form-check-input" type="checkbox" name="grantedDns[{{ dn }}]" id="group_{{ dn }}" {% if dn in existingGroups %}checked{% endif %}/>
                        <label class="form-check-label" for="group_{{ dn }}" class="pt-3">{{ cn }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="card-body border-bottom">
            <h3>Verdict Justification/Confirmation</h3>
            <p>Please leave a message to be emailed to the user indicating the changes you have made or lack thereof.</p>
            <div class="row">
                <div class="col-12">
                    <label for="verdict">Verdict</label>
                    <textarea class="form-control" id="verdict" name="verdict"></textarea>
                </div>
            </div>
        </div>
        <div class="card-body">
            <button
                    type="button"
                    class="btn btn-primary"
                    data-mdb-ripple-init
                    data-request-method="POST"
                    data-request-path="{{ path("reviewGroupRequestSubmit") }}">
                Push Changes
            </button>
        </div>
    </form>
{% endblock %}